<h1>List of All Artists</h1>

<ul>
<% @artists.each do |artist| %>
  <li><%= artist.name %>
  <% if user_signed_in? && current_user.admin? %>
    | <%= link_to "edit", action: "edit", id: artist %>
  <% end %>
  <ul>
    <% if artist.youtube_id %>
      <li><%= artist.youtube_id %></li>
    <% end %>
  </ul>
  </li>
<% end %>
</ul>
